In [1]:
import pandas as pd
import descartes
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
from bokeh.plotting import figure, save, show, output_notebook
from bokeh.models import ColumnDataSource
from bokeh.tile_providers import get_provider, Vendors, CARTODBPOSITRON

BokehDeprecationWarning: CARTODBPOSITRON was deprecated in Bokeh 1.1.0 and will be removed, use get_provider(Vendors.CARTODBPOSITRON) instead.

In [2]:
#need to convert to CSV, add header file

# File path
# points1_fp = r"part-00000.csv"
# points2_fp = r"part-00001.csv"

# Read the data
# points = gpd.read_file(points2_fp)

df = pd.read_csv("../data/sample_geo.txt", 
                  sep='\t', 
                  names=["Lat", "Lon", "ID"])
result = df.drop([0], axis=0)
result.head()

           Lat           Lon ID
1  37.77253945  -77.49954987  1
2  42.09013298  -87.68915558  2
3  39.56341754  -75.58753204  3
4  39.45302347  -87.69374084  4
5   38.9537989  -77.01656342  5

In [3]:
result.dropna(inplace = True) 
len(result.index)

9970

In [4]:
result["Lat"] = result['Lat'].astype(float)
result["Lon"] = result['Lon'].astype(float)
result.head()

         Lat        Lon ID
1  37.772539 -77.499550  1
2  42.090133 -87.689156  2
3  39.563418 -75.587532  3
4  39.453023 -87.693741  4
5  38.953799 -77.016563  5

In [5]:
import math
from ast import literal_eval
def getx(x):  
    lat = x[0]
    lon = x[1]
    r_major = 6378137.000
    x = r_major * math.radians(lon)
    scale = x/lon
    y = 180.0/math.pi * math.log(math.tan(math.pi/4.0 + 
        lat * (math.pi/180.0)/2.0)) * scale
    return x

In [6]:
import math
from ast import literal_eval
def gety(x):  
    lat = x[0]
    lon = x[1]
    r_major = 6378137.000
    x = r_major * math.radians(lon)
    scale = x/lon
    y = 180.0/math.pi * math.log(math.tan(math.pi/4.0 + 
        lat * (math.pi/180.0)/2.0)) * scale
    return y

In [7]:
result['coords_x'] = result.apply(getx,1)
result['coords_y'] = result.apply(gety,1)
result.head()

         Lat        Lon ID      coords_x      coords_y
1  37.772539 -77.499550  1 -8.627210e+06  4.547343e+06
2  42.090133 -87.689156  2 -9.761512e+06  5.174491e+06
3  39.563418 -75.587532  3 -8.414366e+06  4.802701e+06
4  39.453023 -87.693741  4 -9.762023e+06  4.786773e+06
5  38.953799 -77.016563  5 -8.573445e+06  4.715056e+06

In [8]:
from bokeh.plotting import figure, show, output_notebook
from bokeh.tile_providers import CARTODBPOSITRON
p = figure(x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(CARTODBPOSITRON)
p.circle(x = result['coords_x'],
         y = result['coords_y'])
show(p)

BokehDeprecationWarning: CARTODBPOSITRON was deprecated in Bokeh 1.1.0 and will be removed, use get_provider(Vendors.CARTODBPOSITRON) instead.