In [1]:
import pandas as pd
import descartes
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
from bokeh.plotting import figure, save, show, output_notebook
from bokeh.models import ColumnDataSource
from bokeh.tile_providers import get_provider, Vendors, CARTODBPOSITRON

BokehDeprecationWarning: CARTODBPOSITRON was deprecated in Bokeh 1.1.0 and will be removed, use get_provider(Vendors.CARTODBPOSITRON) instead.

In [2]:
#need to convert to CSV, add header file

# File path
# points1_fp = r"part-00000.csv"
# points2_fp = r"part-00001.csv"

# Read the data
# points = gpd.read_file(points2_fp)

df = pd.read_csv("../data/part-00000.csv", 
                  sep=',', 
                  names=["Lat", "Lon", "Time", "Name","Random","Tx"])
                 #,
               # nrows=200)

df2 = pd.read_csv("../data/part-00000.csv", 
                  sep=',', 
                  names=["Lat", "Lon", "Time", "Name","Random","Tx"])
                  #,
               # nrows=200)

In [3]:
frames = [df, df2]
result = pd.concat(frames)
# dropping null value columns to avoid errors 
result.dropna(inplace = True) 
len(result.index)

296882

In [4]:
#get rid of weird characters
result["Lat"] = result['Lat'].str[3:].str.rstrip("'")
result["Lon"] = result['Lon'].str[3:].str.rstrip("'")
#issue is that we lose digit significance
result["Lat"] = result['Lat'].astype(float)
result["Lon"] = result['Lon'].astype(float)

In [5]:
result.head()

,Lat,Lon,Time,Name,Random,Tx
0,33.689475,-117.543308,u'2014-03-15:10:10:20',u'Sorrento',u'F41L',u'8cc3b47e-bd01-4482-b500-28f2342679af')
1,39.363519,-119.400335,u'2014-03-15:10:10:20',u'Sorrento',u'F41L',u'707daba1-5640-4d60-a6d9-1d6fa0645be0')
2,33.191358,-116.448243,u'2014-03-15:10:10:20',u'Ronin',u'Novelty',u'db66fe81-aa55-43b4-9418-fc6e7a00f891')
3,33.834354,-117.330001,u'2014-03-15:10:10:20',u'Sorrento',u'F41L',u'ffa18088-69a0-433e-84b8-006b2b9cc1d0')
4,37.380395,-121.840757,u'2014-03-15:10:10:20',u'Sorrento',u'F33L',u'66d678e6-9c87-48d2-a415-8d5035e54a23')

In [6]:
import math
from ast import literal_eval
def getx(x):  
    lat = x[0]
    lon = x[1]
    r_major = 6378137.000
    x = r_major * math.radians(lon)
    scale = x/lon
    y = 180.0/math.pi * math.log(math.tan(math.pi/4.0 + 
        lat * (math.pi/180.0)/2.0)) * scale
    return x

In [7]:
import math
from ast import literal_eval
def gety(x):  
    lat = x[0]
    lon = x[1]
    r_major = 6378137.000
    x = r_major * math.radians(lon)
    scale = x/lon
    y = 180.0/math.pi * math.log(math.tan(math.pi/4.0 + 
        lat * (math.pi/180.0)/2.0)) * scale
    return y

In [8]:
result['coords_x'] = result.apply(getx,1)
result['coords_y'] = result.apply(gety,1)
result.head()

,Lat,Lon,Time,Name,Random,Tx,coords_x,coords_y
0,33.689475,-117.543308,u'2014-03-15:10:10:20',u'Sorrento',u'F41L',u'8cc3b47e-bd01-4482-b500-28f2342679af'),-1.308486e+07,3.987182e+06
1,39.363519,-119.400335,u'2014-03-15:10:10:20',u'Sorrento',u'F41L',u'707daba1-5640-4d60-a6d9-1d6fa0645be0'),-1.329158e+07,4.773877e+06
2,33.191358,-116.448243,u'2014-03-15:10:10:20',u'Ronin',u'Novelty',u'db66fe81-aa55-43b4-9418-fc6e7a00f891'),-1.296296e+07,3.920731e+06
3,33.834354,-117.330001,u'2014-03-15:10:10:20',u'Sorrento',u'F41L',u'ffa18088-69a0-433e-84b8-006b2b9cc1d0'),-1.306112e+07,4.006581e+06
4,37.380395,-121.840757,u'2014-03-15:10:10:20',u'Sorrento',u'F33L',u'66d678e6-9c87-48d2-a415-8d5035e54a23'),-1.356325e+07,4.492262e+06

In [9]:
from bokeh.plotting import figure, show, output_notebook
from bokeh.tile_providers import CARTODBPOSITRON
p = figure(x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(CARTODBPOSITRON)
p.circle(x = result['coords_x'],
         y = result['coords_y'])
show(p)

BokehDeprecationWarning: CARTODBPOSITRON was deprecated in Bokeh 1.1.0 and will be removed, use get_provider(Vendors.CARTODBPOSITRON) instead.

In [52]:
# Output filepath
# outfp = r"step2.html"

# Save the map
# save(obj=p, filename=outfp)
# save(p, outfp)

/Users/nicholasmurray/anaconda3/lib/python3.7/site-packages/bokeh/io/saving.py:127: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  warn("save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN")
/Users/nicholasmurray/anaconda3/lib/python3.7/site-packages/bokeh/io/saving.py:140: UserWarning: save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'
  warn("save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'")

'/Users/nicholasmurray/sharewithVM/devicestatus_etl/step2.html'